.head{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.myShop{
    font-size: 30px;
    padding-left: 70px;
}
.title {
    text-align: center;
}
.balance{ 
    text-align: center;
    font-size: 32px;
}
.form{
    width: 30%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.list{
    display: flex;
    justify-content: center;
    column-gap: 25px;
    margin: 20px 0;
}
.product{ 
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 2px solid teal;
}
.name{ 
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #000;
}
.price{ 
    margin: 25px 0;
    text-align: center;
    font-size: 21px;
    font-family: 500;
    color: #333;
}
.btnAdd{ 
    display: block;
    width: 50%;
    height: 40px;
    margin: 20px auto;
}
table{
    width: 200px;
    display: flex;
    justify-content: center;
    padding-left: 60px;
}
.time-td{
    width: 50px;
    font-size: 26px;
}